[program:ghost]
environment = NODE_ENV="production"
command = node /home/ghost/index.js
directory = /home/ghost
autostart = true
autorestart = true
stdout_logfile = /var/log/supervisor/ghost.stdout.log
stderr_logfile = /var/log/supervisor/ghost.stderr.log
user = ghost
